 <div class="row section featured topspace">

    <h2 class="section-title"><span>Services</span></h2>

    <div class="row">


        {{ range where .Data.Pages "Section" "service" }}
        <div class="col-sm-3">
            <div class="card bg-dark text-white mb-3" style="box-shadow: 5px 10px 7px #888888;">
                <div class="card-body">
			<h3 class="card-title text-white text-center">{{ .Title }}</h5>
			<p class="card-text">{{ .Summary }}</p>
        	        <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-light">Read more</a></p>
	        </div>
	    </div>
        </div>
        {{ end }}
    </div>

</div> <!-- / section -->
